# Equipo #1

- Contreras Molina Vannesa Samanda
- Cruz Cortés Alba Cristina
- Delgado Barajas Fabiola Alejandra
- Hernandez Martinez Abraham
- Huerta Rangel Alejandra
- Rincon Morales David

# Lectura de BD

In [1]:
import pandas as pd
import numpy as np

import json as js
from sqlalchemy import create_engine
import mysql.connector

import datetime as dt

In [2]:
"""
Change to a function try-catch
"""

mydb = mysql.connector.connect(
  host="relational.fit.cvut.cz",
  port = 3306,
  db = "financial",
  user="guest",
  passwd="relational"
)

In [3]:
account = pd.read_sql(con = mydb, sql = "select account_id, date as account_creation_date, district_id as account_location from account")
client = pd.read_sql(con = mydb, sql="Select client_id, birth_date, gender From client")
trans = pd.read_sql(con = mydb, sql = "select account_id, trans_id, date as trans_date, operation, amount as trans_amount, balance as balance_after_trans from trans")
disp = pd.read_sql(con = mydb, sql = "select client_id, account_id, type from disp")
district = pd.read_sql(con = mydb, sql = "select district_id as account_location, A2 as nombre_distrito, A3 as region_distrito from district")

In [4]:
disposition = disp.merge(client, on = "client_id", how = "inner")

In [5]:
account_new = account.merge(disposition, on = "account_id", how = "inner")

In [6]:
transactions = trans.merge(account_new, on = "account_id", how = "inner")

transactions = transactions.merge(district, on = "account_location", how = "inner")

transactions.drop(["account_location", "client_id"], axis=1, inplace=True)

transactions = transactions.reset_index(drop=True)

In [7]:
transactions

,account_id,trans_id,trans_date,operation,trans_amount,balance_after_trans,account_creation_date,type,birth_date,gender,nombre_distrito,region_distrito
0,1,1,1995-03-24,VKLAD,1000,1000,1995-03-24,OWNER,1970-12-13,F,Pisek,south Bohemia
1,1,5,1995-04-13,PREVOD Z UCTU,3679,4679,1995-03-24,OWNER,1970-12-13,F,Pisek,south Bohemia
2,1,6,1995-05-13,PREVOD Z UCTU,3679,20977,1995-03-24,OWNER,1970-12-13,F,Pisek,south Bohemia
3,1,7,1995-06-13,PREVOD Z UCTU,3679,26835,1995-03-24,OWNER,1970-12-13,F,Pisek,south Bohemia
4,1,8,1995-07-13,PREVOD Z UCTU,3679,30415,1995-03-24,OWNER,1970-12-13,F,Pisek,south Bohemia
...,...,...,...,...,...,...,...,...,...,...,...,...
1262620,11244,3528724,1998-08-31,None,164,34017,1997-01-12,OWNER,1948-07-31,F,Decin,north Bohemia
1262621,11244,3528725,1998-09-30,None,158,46507,1997-01-12,OWNER,1948-07-31,F,Decin,north Bohemia
1262622,11244,3528726,1998-10-31,None,121,22426,1997-01-12,OWNER,1948-07-31,F,Decin,north Bohemia
1262623,11244,3528727,1998-11-30,None,63,11083,1997-01-12,OWNER,1948-07-31,F,Decin,north Bohemia
1262624,11244,3528728,1998-12-31,None,102,19049,1997-01-12,OWNER,1948-07-31,F,Decin,north Bohemia

In [8]:
def columns_to_datetime(df):
    
    transactions["trans_date"] = pd.to_datetime(transactions["trans_date"])
    transactions["account_creation_date"] = pd.to_datetime(transactions["account_creation_date"])
    transactions["birth_date"] = pd.to_datetime(transactions["birth_date"])
    
    return df

In [13]:
def get_age(df):
    """
    Gets years from date.
    
    Need to update function in order to allow any column as parameter
    """
    
    now = pd.datetime.now()
    
    transactions['account_creation_date'] = transactions['account_creation_date'].where(transactions['account_creation_date'] < now, transactions['account_creation_date'] -  np.timedelta64(100, 'Y'))   # 2
    transactions['account_age'] = (now - transactions['account_creation_date']).astype('<m8[Y]')
    transactions['account_age'] = transactions['account_age'].astype(int)
    
    transactions['birth_date'] = transactions['birth_date'].where(transactions['birth_date'] < now, transactions['birth_date'] -  np.timedelta64(100, 'Y'))   # 2
    transactions['client_age'] = (now - transactions['birth_date']).astype('<m8[Y]')
    transactions['client_age'] = transactions['client_age'].astype(int)
    
    transactions.drop(["account_creation_date"], axis=1, inplace=True)
    transactions.drop(["birth_date"], axis=1, inplace=True)
    
    return df

In [10]:
transactions = columns_to_datetime(transactions)

In [11]:
transactions = get_age(transactions)

/home/david/Documents/Python envs/mineria/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime instead.
  This is separate from the ipykernel package so we can avoid doing imports until

In [15]:
transactions.to_csv("transactions.csv", index=False)